.header-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 0 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 50px;

    .left {
        display: flex;
        align-items: center;

        a {
            text-decoration: none;
            color: #333;
            font-size: 1.2rem;
            font-weight: 600;
            margin-right: 20px;
        }
    }

    .right {
        z-index: 100;
        background-color: black;
        border-radius: 50%;
        height: 30px;
        width: 30px;
    }
}